table {
  border-collapse: collapse;
  width: 100%
}

td {
  border: 1px;
  text-align: left;
  padding: 8px;
  font-size: 15px;
}

th{
  font-size: 20px;
  text-align: left;
}

.btmInfo  {
  margin-left: 100px;
}
